pipeline/CrimeData-ADB.json
{
	"name": "CrimeData-ADB",
	"properties": {
		"activities": [
			{
				"name": "Copy_dpx",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Key from AKV",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "training/crime-data-2016/"
					},
					{
						"name": "Destination",
						"value": "dwtemp/03.02/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*"
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"skipErrorFile": {
						"fileMissing": true
					},
					"validateDataConsistency": false
				},
				"inputs": [
					{
						"referenceName": "PublicDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_nuj",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LabNotebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Get Key from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/hiramfleitas@microsoft.com/hiramdatabricks/Includes/Databricks-Data-Transformations",
					"baseParameters": {
						"accountName": "wplushiramsynapseadlsv2",
						"accountKey": {
							"value": "@string(activity('Get Key from AKV').output.value)",
							"type": "Expression"
						},
						"containerName": "dwtemp"
					}
				},
				"linkedServiceName": {
					"referenceName": "adbhf",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Key from AKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.KeyVaultDNSName,'secrets/accountkey/?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"KeyVaultDNSName": {
				"type": "string",
				"defaultValue": "https://synapseakv.vault.azure.net/"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-06-29T19:53:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}