pipeline/Delta-Import-ADB.json
{
	"name": "Delta-Import-ADB",
	"properties": {
		"activities": [
			{
				"name": "DeltaChanges",
				"description": "",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Get Key from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get ConnectionString from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/hiramfleitas@microsoft.com/hiramdatabricks/Includes/DeltaChanges",
					"baseParameters": {
						"accountName": "wplushiramsynapseadlsv2",
						"accountKey": {
							"value": "@string(activity('Get Key from AKV').output.value)",
							"type": "Expression"
						},
						"containerName": "wplushiramsynapsefs",
						"jdbcConnectionString": {
							"value": "@string(activity('Get ConnectionString from AKV').output.value)",
							"type": "Expression"
						},
						"deltaPath": "synapse/workspaces/wplushiramsynapse/warehouse/lastchanges"
					}
				},
				"linkedServiceName": {
					"referenceName": "adbhf",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Key from AKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.KeyVaultDNSName,'secrets/accountkey/?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get ConnectionString from AKV",
				"description": "jdbc",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.KeyVaultDNSName,'secrets/ConnectionString/?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"KeyVaultDNSName": {
				"type": "string",
				"defaultValue": "https://synapseakv.vault.azure.net/"
			}
		},
		"folder": {
			"name": "Delta"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-29T19:53:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}