pipeline/Params.json
{
	"name": "Params",
	"properties": {
		"activities": [
			{
				"name": "Params",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Get ConnectionString from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Key from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Params",
						"type": "NotebookReference"
					},
					"parameters": {
						"accountname": {
							"value": "wplushiramsynapseadlsv2",
							"type": "string"
						},
						"accountKey": {
							"value": {
								"value": "@string(activity('Get Key from AKV').output.value)",
								"type": "Expression"
							},
							"type": "string"
						},
						"containerName": {
							"value": "wplushiramsynapsefs",
							"type": "string"
						},
						"deltaPath": {
							"value": "synapse/workspaces/wplushiramsynapse/warehouse/lastchanges",
							"type": "string"
						},
						"jdbcConnectionString": {
							"value": {
								"value": "@string(activity('Get ConnectionString from AKV').output.value)",
								"type": "Expression"
							},
							"type": "string"
						},
						"": {
							"value": ""
						}
					},
					"snapshot": true
				}
			},
			{
				"name": "Get Key from AKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.KeyVaultDNSName,'secrets/accountkey/?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get ConnectionString from AKV",
				"description": "jdbc",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.KeyVaultDNSName,'secrets/ConnectionString/?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"KeyVaultDNSName": {
				"type": "string",
				"defaultValue": "https://synapseakv.vault.azure.net/"
			}
		},
		"annotations": []
	}
}