pipeline/ReadDeltaLog-Synapse.json
{
	"name": "ReadDeltaLog-Synapse",
	"properties": {
		"activities": [
			{
				"name": "Get Key from AKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(variables('kvurl'),'secrets/accountkey/?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get ConnectionString from AKV",
				"description": "jdbc",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(variables('kvurl'),'secrets/ConnectionString/?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ReadDeltaLog",
				"description": "Includes CDC",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Get ConnectionString from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Key from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "ReadDeltaLog",
						"type": "NotebookReference"
					},
					"parameters": {
						"accountName": {
							"value": "wplushiramsynapseadlsv2",
							"type": "string"
						},
						"accountKey": {
							"value": {
								"value": "@string(activity('Get Key from AKV').output.value)",
								"type": "Expression"
							},
							"type": "string"
						},
						"containerName": {
							"value": "wplushiramsynapsefs",
							"type": "string"
						},
						"jdbcConnectionString": {
							"value": {
								"value": "@string(activity('Get ConnectionString from AKV').output.value)",
								"type": "Expression"
							},
							"type": "string"
						},
						"deltaPath": {
							"value": "synapse/workspaces/wplushiramsynapse/warehouse/lastchanges",
							"type": "string"
						}
					},
					"snapshot": true
				}
			},
			{
				"name": "MergeLatest",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ReadDeltaLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[MegreLatest]"
				},
				"linkedServiceName": {
					"referenceName": "wplushiramsynapseLoaderXL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"kvurl": {
				"type": "String",
				"defaultValue": "https://synapseakv.vault.azure.net/"
			}
		},
		"folder": {
			"name": "Delta"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-22T22:22:55Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}