pipeline/RTAFlightTranscript2.json
{
	"name": "RTAFlightTranscript2",
	"properties": {
		"activities": [
			{
				"name": "make i",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "i",
					"value": {
						"value": "@range(0,5)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "make i",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "make rurl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('i')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Transcript",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Skipped"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureDataExplorerSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Transcripts",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "RTAFlightStreamer",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "rurl",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "make rurl",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "rurl",
					"value": {
						"value": "@rand(length(['aaaa','bbb','ccccc']),1)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"i": {
				"type": "Array"
			},
			"rurl": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastModifiedByObjectId": "e10fcc43-9abd-4aad-af2d-b6bb7d9e18eb",
		"lastPublishTime": "2023-06-05T01:50:37Z"
	},
	"objectId": "16d6ee59-1c8e-4fc3-a0cd-bc029bbd73b7"
}