pipeline/RTAFlightStreamer.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "Get",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "download",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"relativeUrl": "3/short/decorate/link",
					"method": "GET"
				},
				"externalReferences": {
					"connection": "9485a0c7-b271-449f-9937-371f5d913797"
				}
			},
			{
				"name": "download",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "LakehouseWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "12130d8b_7a11_4450_be22_e74c7759ffbf",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "91c421c1_e16d_46bb_8041_9ff470a52839",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "make i",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "i",
					"value": {
						"value": "@range(0,99999)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "make i",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('i')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 1,
					"activities": [
						{
							"name": "Notebook1",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "RTAFlightTranscriptRaw",
									"type": "NotebookReference"
								},
								"snapshot": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"i": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastModifiedByObjectId": "e10fcc43-9abd-4aad-af2d-b6bb7d9e18eb",
		"lastPublishTime": "2023-06-05T01:50:37Z"
	},
	"objectId": "16d6ee59-1c8e-4fc3-a0cd-bc029bbd73b7"
}