pipeline/RTAFlightStreamer.json
{
	"name": "RTAFlightStreamer",
	"properties": {
		"activities": [
			{
				"name": "make i",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "i",
					"value": {
						"value": "@range(0,99999)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "make i",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('i')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Notebook1",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "RTAFlightTranscriptRaw",
									"type": "NotebookReference"
								},
								"snapshot": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"i": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastModifiedByObjectId": "e10fcc43-9abd-4aad-af2d-b6bb7d9e18eb",
		"lastPublishTime": "2023-06-05T01:50:37Z"
	},
	"objectId": "16d6ee59-1c8e-4fc3-a0cd-bc029bbd73b7"
}