sqlscript/sqltrigger_20211004165556/Microsoft.Flow/flows/0a1ba892-dc16-4a5a-9afa-194c30527355/definition.json
{"name":"95be371d-9384-4fe6-a4f7-8210bc933df8","id":"/providers/Microsoft.Flow/flows/95be371d-9384-4fe6-a4f7-8210bc933df8","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"sqltrigger","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"1d75c53b-2f24-4c91-b0af-24425770b160","type":"User","tenantId":"800d472c-8288-4f27-8978-f726a7a3d1f0"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-10-02T15:06:03.655256Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_modified_(V2)":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sql","connectionName":"shared_sql_1","operationId":"GetOnUpdatedItems_V2"},"parameters":{"server":"default","database":"default","table":"t1"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"x","type":"integer","value":"@triggerOutputs()?['body/a1']"}]}},"Get_rows_(V2)":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sqldw","connectionName":"shared_sqldw","operationId":"GetItemsV2"},"parameters":{"server":"default","database":"default","table":"[dbo].[t1]","$filter":"a1 eq @{triggerOutputs()?['body/a1']}","$top":1},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{},"runAfter":{"Get_rows_(V2)":["Succeeded"]},"else":{"actions":{"Apply_to_each":{"foreach":"@outputs('Get_rows_(V2)')?['body/value']","actions":{"Execute_stored_procedure_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sqldw","connectionName":"shared_sqldw","operationId":"ExecuteProcedureV2"},"parameters":{"server":"default","database":"default","procedure":"[powerautomate].[updatet1]","parameters/a1":"@items('Apply_to_each')?['a1']","parameters/b1":"@triggerOutputs()?['body/b1']","parameters/c1":"@triggerOutputs()?['body/c1']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"expression":{"equals":["@empty(outputs('Get_rows_(V2)')?['body/value'])","@true"]},"type":"If"}}},"connectionReferences":{"shared_sqldw":{"connectionName":"shared-sqldw-54da8499-ade5-4a47-8e26-e0b9-e4fb8b0c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sqldw","tier":"NotSpecified"},"shared_sql_1":{"connectionName":"shared-sql-bb46d821-33d6-493a-965d-6ff0-46f6c8e9","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sql","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}